@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: bold;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  background-color: #F2F2F2;
  height: 100%;

}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #ffffff;
  color: #000000;
  width: 1200px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin: 0 auto;


}

.main-container {
  flex-grow: 1;
}

/*Кнопки*/
.button {
  display: inline-block;
  font-family: inherit;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
}

.navigation-button {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #756157;
  padding: 8px 34px;
  margin-left: 20px;
}

.search-button {
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #756157;
  padding: 8px 50px;
  margin: 0;
}

.subscribe-button {
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #82B3D3;
  padding: 8px 50px;
  border-radius: 0 4px 4px 0;
}

.filter-button {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #82B3D3;
  padding: 8px 50px;
  margin-top: 56px;
  margin-bottom: 32px;
}

.more-button {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #756157;
  padding: 8px 26px;
  align-self: end;
}

.favorites-button {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #82B3D3;
  padding: 8px 18px;
  align-self: end;
}

.active-button {
  background-color: #7DB54F;
}

.reset-button {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: transparent;
  padding: 8px 50px;

}

.button-container {
  display: flex;
  flex-direction: column;
}

/*Навигация*/

.header-logo {
  display: block;
}

.navigation-logo {
  width: 138px;
  margin-right: 30px;
  margin-bottom: -6px;
  z-index: 1;
}

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  align-items: center;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 440px;
  text-decoration: none;
  list-style-type: none;

}

.navigation-user {
  max-width: 300px;
  margin-left: auto;
  list-style-type: none;
  padding: 0;
  align-items: center;
  justify-content: end;
}

.navigation-link .navigation-user {
  min-width: 44px;
  min-height: 64px;
}

.navigation-link {
  position: relative;
  display: block;
  padding: 20px 12px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  color: #000000;
}


/*Главная*/



.main-title {
  position: relative;
  background-image: url(../images/background-index.jpg);
  background-color: #756157;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding: 50px 70px 82px;

}

.main-title::after {
  position: absolute;
  content: url(../images/background-divider.svg);
  width: 1200px;
  bottom: -5px;
  left: 0;

}

.background-title {
  text-align: center;
  padding: 69px 70px 90px;
}



.heading-font {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 25px;

}

.heading-font-two {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.paragraph-font {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  margin: 0;
}

.paragraph-font-two {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  margin: 0;
  margin-bottom: 54px;
}

.favourites-number {
  font-family: "PT Sans";
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  padding: 5px;
  color: #F2F2F2;
  background-color: #7DB54F;
  border-radius: 25px;
  text-align: center;
  display: inline-block;
  top: 11px;
  left: 20px;
  position: absolute;
}

/*Преимущества*/

.advantages {
  display: flex;
  width: 1200px;
  margin: 0 auto;

}

.advantages-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;

}

.advantages-item {
  display: flex;
  text-align: center;
  width: 400px;
  min-height: 384px;


}

.advantages-title {

  margin-top: 0;
  margin-bottom: 62px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-content:after {
  content: "";
  width: 60px;
  height: 2px;
  bottom: 204px;
  left: 170px;
  right: 170px;
  position: absolute;
  background: rgba(255, 255, 255, 0.3);
}

.advantages-content-row:after {
  content: "";
  width: 60px;
  height: 2px;
  bottom: 204px;
  left: 170px;
  right: 170px;
  position: absolute;
  background: rgba(0, 0, 0, 0.3)
}

.advantages-description {
  margin: 0;
}

.advantages-picture {
  display: block;
}

.advantages-content {
  position: relative;
  padding: 92px 85px 111px;
}

.advantages-content-row {
  position: relative;
  padding: 103px 85px 121px;
}

.services-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 80px 85px 81px;
}

/*Цвета*/

.background-grey-soft {
  background-color: rgba(131, 179, 211, 0.12);
}

.background-grey-middle {
  background-color: rgba(131, 179, 211, 0.2);
  ;
}

.background-blue {
  background-color: #82B3D3;
  color: #ffffff;
}

/*Услуги*/

.services {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.services-list {
  display: flex;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;

}

.services-item {
  display: flex;
  text-align: center;
  width: 400px;
  min-height: 384px;



}

.services-title {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase
}

.services-description {
  padding: 0;
  margin: 0;
}

.hotel-search {
  text-align: center;
  padding: 96px 70px;

}

.newsletter-main-subs {
  background-image: url(../images/background-subscribe.jpg);
  background-size: cover;
  background-color: #756157;
  background-repeat: no-repeat;
  text-align: center;
  padding: 96px 70px 104px;
  color: #ffffff;
}

.subscribe-form-label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.field {
  margin: 0;
  width: 452px;
  background: #F2F2F2;
  border-radius: 4px 0 0 4px;
  padding: 12px 20px;
  border: none;
  min-height: 28px;
  font: inherit;

}

.newsletter-catalog-subs {
  text-align: center;
  padding: 96px 70px 104px;
}

.footer-container {
  display: flex;
  width: 1060px;
  align-items: center;
  padding: 40px 70px 30px;
  justify-content: space-between;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  width: 145px;
  padding: 0;
  flex-direction: row;
}

.footer-social-item {
  list-style-type: none;
}

.social-link {
  text-decoration: none;
}

.link-vkontakte {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 40px;
}

.link-telegram {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 40px;
}

.link-youtube {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 40px;
}

.phone-number {
  display: flex;
  flex-wrap: wrap;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
  margin: 0 auto;
}

/*Каталог*/

.inner-header {
  margin-bottom: 40px;
}

.inner-header-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  margin: 0;
}
/*Хлебные крошки*/
.breadcrumbs-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.breadcrumbs-item {
  position: relative;
  margin-right: 32px;
  list-style-type: none;
}

.breadcrumbs-link {
  text-decoration: none;
  color: inherit;
}

.breadcrumbs-item::after {
  position: absolute;
  display: inline-block;
  right: -20px;
  width: 8px;
  height: 8px;
  content: url(../images/breadcrumbs-arrow.svg);
}

.breadcrumbs-item:last-child::after {
  content: none;
}

.breadcrumbs-item:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-item:focus {
  color: #FFFFFF;
}

.breadcrumbs-item:active {
  color: rgba(255, 255, 255, 0.3);
}
/* Фильтр */

.filter-content {
  background-image: url(../images/background-catalog.jpg);
  background-color: #756157;
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  padding: 35px 70px 70px;
}

.filter-title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  margin-bottom: 32px;
}

.hotel-filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* Фильтр инфраструктуры */

.ifrastructure-filter {
  border: 0 none;
  width: 151px;
  padding: 0;
  margin: 0;
}

.filter-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style-type: none;
  margin: 0;
  padding: 0;

}



.filter-item {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
}

 .filter-item:not(:last-child) {
  margin-bottom:0;
}

/* Чекбокс */
.control {
  position: relative;
  display: block;
  padding-left: 36px;
  padding-bottom: 16px;
}

.control-mark {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border-radius: 4px;
  left: 0;
}

.control:hover .control-mark,
.control:hover .control-label {
  opacity: 0.6;
}


.control .control-mark:focus {
  outline: 3px solid #83B3D3;
}

.control:active .control-mark,
.control:active .control-label  {
  opacity: 0.3;
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  position: absolute;
  top: 9px;
  left: 5px;
  width: 5px;
  height: 2px;
  background-color: #3F5E72;
  content: "";
}

.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 8px;
  height: 2px;
  background-color: #3F5E72;
  content: "";
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  transform: rotate(45deg);
}

.control-input[type="checkbox"]:checked + .control-mark::after {
  transform: rotate(-45deg);
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked +.control-mark::before {
  position: absolute;
    top: 5px;
    width: 10px;
    height: 10px;
    background-color: #3F5E72;
    border-radius: 50%;
    content: "";
    left: 5px;
}

/* Фильтр типа жилья */

.type-of-housing-filter {
  border: 0 none;
  width: 151px;
  padding: 0;
  margin: 0;
}

.catalog-filter-group {
  border: 0 none;
  margin: 0;
  padding: 0;

}

.range-input {
  width: 143px;
  padding: 12px 20px;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  border: none;
  appearance: textfield;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range-min {
  border-radius: 4px 0 0 4px;
}

.range-max {
  border-radius: 0 4px 4px 0;
}

.range-input:hover {
  background-color: #E6E6E6;
  outline: none;
}

.range-input:focus {
  background: #E6E6E6;
  outline: 3px solid #83B3D3;
}

.range-input:active {
  background: #F2F2F2;
  outline: 2px solid #000000;
}

.range-scale {
  position: relative;
  margin-top: 36px;
  width: 287px;
  height: 4px;
  background-color: #5e5c5c;
  border-radius: 2px;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;

}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.range-toggle:active,
.range-toggle:focus {
  outline: 3px solid #82B3D3;
}

.toggle-min {
  top: -8px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.hotel-list {
  display: grid;
  position: relative;
  grid-template-columns: 340px 340px 340px;
  gap: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-bottom: 80px;
}

.hotel-list:after {
  content: "";
  width: 1060px;
  bottom: 40px;
  position: absolute;
  border: 1px solid #E6E6E6;
}

/*Карточки гостиниц*/
.hotel-card {
  display: grid;
  grid-template-columns: 140px 140px;
  row-gap: 16px;
  column-gap: 20px;
  justify-content: center;
  padding: 20px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
}

.hotel-card-image {
  display: block;
  padding-bottom: 16px;
  grid-column: 1/3;
}

.hotel-card-title {
  margin: 0;
  color: #000000;
  grid-column: 1/3;

}

.hotel-card-type {
  margin: 0;
  grid-column: 1;
}

.hotel-card-price {
  margin: 0;
  text-align: right;
}

.hotel-card-link {
  display: grid;
  text-decoration: none;
}

.hotel-rating {
  display: inline-block;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: #333333;
  background-color: #F2F2F2;
  text-decoration: none;
  text-transform: uppercase;
  align-self: end;
  padding: 9px 22px;
  border-radius: 4px;
  border: none;
  margin: 0;
}

/*Звезды*/
.hotel-star {
  display: inline-block;
  line-height: 20px;
  text-align: center;
  color: #333333;
  background-color: #F2F2F2;
  padding: 9px 22px;
  border-radius: 4px;
  border: none;
  margin: 0;
  align-self: end;
}

/*Вложенный список*/
.catalog {
  width: 1060px;
  margin: 0 auto;
  padding: 0;
}

.sorting-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 50px;
  padding-bottom: 40px;

}

.sorting-type {
  margin-left: auto;
  margin-right: 70px;
}

.select-control {
  width: 292px;
  padding: 14px 20px 14px 20px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  appearance: none;
  box-sizing: border-box;
  font: inherit;
  background-image: url(../images/arrow-down.svg);
  background-repeat: no-repeat;
  background-position: right 16px center;
}

.card-grid-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 16px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  margin-right: 8px;
}

.card-grid-toggle:nth-child(3n) {
  margin-right: 0;
}

.card-grid-current {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 16px;
  border: 2px solid #000000;
  border-radius: 4px;
  margin-right: 8px;
}

/*Пагинация*/

.pagination-list {
  display: flex;
  list-style-type: none;
  gap: 8px;
  padding: 0;
  margin: 0;
  padding-bottom: 60px;

}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #82B3D3;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  width: 60px;
  height: 60px;
  border-radius: 4px;
  text-decoration: none;

}

.pagination-current {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F2F2F2;
  color: #000000;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  width: 60px;
  height: 60px;
  border-radius: 4px;
  text-decoration: none;

}

.pagination-more {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: #000000;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  width: 60px;
  height: 60px;
  border-radius: 4px;
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Состояния*/
/*Декоративные элементы*/
.navigation-link-current::before {
  content: "";
  left: 16px;
  right: 16px;
  height: 0;
  position: absolute;
  bottom: 0;
  border-bottom: 2px solid #756257
}

/*navigation-button*/
.navigation-button:hover {
  background-color: #615048;
}

.navigation-button:focus {
  background-color: #615048;
}

.navigation-button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.navigation-button:disabled {
  background-color: #E5E5E5;
  color: #FFFFFF;
}

.navigation-button:disabled:hover {
  background-color: #E5E5E5;
  color: #FFFFFF;
  outline: none;
  cursor: default;
}

/*search-button*/
.search-button:hover {
  background-color: #615048;
}

.search-button:focus {
  background-color: #615048;
}

.search-button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.search-button:disabled {
  background-color: #E5E5E5;
  color: #FFFFFF;
}

.search-button:disabled:hover {
  background-color: #E5E5E5;
  color: #FFFFFF;
  outline: none;
  cursor: default;
}

/*subscribe-button*/
.subscribe-button:hover {
  background-color: #68A2CA;
}

.subscribe-button:focus {
  background-color: #68A2CA;
}

.subscribe-button:active {
  background-color: #68A2CA;
  color: rgba(255, 255, 255, 0.3);
}

.subscribe-button:disabled {
  background-color: #E5E5E5;
  color: #FFFFFF;
}

.subscribe-button:disabled:hover {
  background-color: #E5E5E5;
  color: #FFFFFF;
  outline: none;
  cursor: default;
}

/*filter-button*/
.filter-button:hover {
  background-color: #68A2CA;
}

.filter-button:focus {
  background-color: #68A2CA;
}

.filter-button:active {
  background-color: #68A2CA;
  color: rgba(255, 255, 255, 0.3);
}

.filter-button:disabled {
  background-color: #E5E5E5;
  color: #FFFFFF;
}

.filter-button:disabled:hover {
  background-color: #E5E5E5;
  color: #FFFFFF;
  outline: none;
  cursor: default;
}

/*reset-button*/
.reset-button:hover {
  opacity: 0.6;
  color: #FFFFFF;
}

.reset-button:focus {
  outline: 3px solid #83B3D3;
}

.reset-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.reset-button:disabled {
  color: #FFFFFF;
  opacity: 0.1;
}

.reset-button:disabled:hover {
  color: #FFFFFF;
  opacity: 0.1;
  outline: none;
  cursor: default;
}

/*logo-vk*/
.logo-vk {
  fill: #83B3D3;
  ;
}

.logo-vk:hover {
  fill: #68A2CA;
}

.logo-vk:focus {
  fill: #68A2CA;
}

.logo-vk:active {
  fill: rgba(104, 162, 202, 0.3);
}

/*logo-tg*/
.logo-tg {
  fill: #83B3D3;
  ;
}

.logo-tg:hover {
  fill: #68A2CA;
}

.logo-tg:focus {
  fill: #68A2CA;
}

.logo-tg:active {
  fill: rgba(104, 162, 202, 0.3);
}

/*logo-yt*/
.logo-yt {
  fill: #83B3D3;
  ;
}

.logo-yt:hover {
  fill: #68A2CA;
}

.logo-yt:focus {
  fill: #68A2CA;
}

.logo-yt:active {
  fill: rgba(104, 162, 202, 0.3);
}

/*phone-number*/
.phone-number:hover {
  color: #756157;
}

.phone-number:focus {
  color: #756157;
}

.phone-number:active {
  color: rgba(117, 97, 87, 0.3);
}

/*logo-htmlacademy*/
.logo-htmlacademy {
  fill: #000000;
}

.logo-htmlacademy:hover {
  fill: #756157;
}

.logo-htmlacademy:focus {
  fill: #756157
}

.logo-htmlacademy:active {
  fill: rgba(117, 97, 87, 0.3);
}

/*card-grid-toggle*/
.card-grid-toggle:hover {
  outline: 2px solid #000000;
}

.card-grid-toggle:focus {
  outline: 2px solid #68A2CA;
}

.card-grid-toggle:active {
  outline: 2px solid #000000;
}

/*more-button*/
.more-button:hover {
  background-color: #615048;
}

.more-button:focus {
  background-color: #615048;
}

.more-button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.more-button:disabled {
  background-color: #E5E5E5;
  color: #FFFFFF;
}

.more-button:disabled:hover {
  background-color: #E5E5E5;
  color: #FFFFFF;
  outline: none;
  cursor: default;
}

/*favorites-button*/
.favorites-button:hover {
  background-color: #68A2CA;
}

.favorites-button:focus {
  background-color: #68A2CA;
}

.favorites-button:active {
  background-color: #68A2CA;
  color: rgba(255, 255, 255, 0.3);
}

.favorites-button:disabled {
  background-color: #E5E5E5;
  color: #FFFFFF;
}

.favorites-button:disabled:hover {
  background-color: #E5E5E5;
  color: #FFFFFF;
  outline: none;
  cursor: default;
}

/*active-button*/
.active-button:hover {
  background-color: #6C9E42;
}

.active-button:focus {
  background-color: #6C9E42;
}

.active-button:active {
  background-color: #7DB54F;
  color: rgba(255, 255, 255, 0.3);
}

.active-button:disabled {
  background-color: #E5E5E5;
  color: #FFFFFF;
}

.active-button:disabled:hover {
  background-color: #E5E5E5;
  color: #FFFFFF;
  outline: none;
  cursor: default;
}

/*pagination-link*/
.pagination-link:hover {
  background-color: #68A2CA;
}

.pagination-link:focus {
  background-color: #68A2CA;
}

.pagination-link:active {
  background-color: #68A2CA;
  color: rgba(255, 255, 255, 0.3);
}

/*pagination-current*/
.pagination-current:hover {
  background-color: #F2F2F2;
}

.pagination-current:focus {
  background-color: #F2F2F2;
}

.pagination-current:active {
  background-color: #F2F2F2;
}
