@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: bold;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  background-color: #F2F2F2;
  height: 100%;

}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #ffffff;
  color: #000000;
  width: 1200px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin: 0 auto;

}

/*Кнопки*/
.button {
  display: inline-block;
  font-family: inherit;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
}

.navigation-button {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #756157;
  padding: 8px 34px;
}

.search-button {
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #756157;
  padding: 8px 50px;
}

.subscribe-button {
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #82B3D3;
  padding: 8px 50px;
}

.filter-button {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #82B3D3;
  padding: 8px 50px;
}

.more-button {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #756157;
  padding: 8px 26px;
}

.button-favorites {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #82B3D3;
  padding: 8px 20px;
}

.button-active {
  background-color: #7DB54F;
}

.button-reset {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: transparent;
  padding: 8px 50px;


}

.filter-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hotel-rating {
  display: inline-block;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: #333333;
  background-color: #F2F2F2;
  text-decoration: none;
  text-transform: uppercase;
  padding: 9px 22px;
  border-radius: 4px;
  border: none;
}

/*Навигация*/

.navigation {
  display: flex;
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  align-items: center;

}


.header-logo {
  display: block;
}

.navigation {
  width: 1060px;
  margin: 0 auto;
  padding: 0;
}

.navigation-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  margin: 0;
  padding-left: 30px;
  width: 439px;
  text-decoration: none;
  list-style-type: none;

}

.navigation-user {
  display: flex;
  max-width: 300px;
  margin-left: auto;
  padding-right: 70px;
  list-style-type: none;
  padding: 0;
  justify-content: flex-end;
}

.navigation-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  color: #000000;
}


/*Главная*/



.main-title {
  position: relative;
  background-image: url(../images/background-index.jpg);
  background-color: #756157;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding: 50px 0;

}

.background-title {
  text-align: center;
  margin: 69px 275px 90px;
}

.main-title::after {
  position: absolute;
  content: url(../images/background-divider.svg);
  width: 1200px;
  height: 57px;
  top: 399px;
  left: 0;

}

.heading-font {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 25px;
  text-align: center;
  text-transform: uppercase;
}

.paragraph-font {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 106px;
  text-align: center;
}

.favourites-number {
  font-family: "PT Sans";
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  padding: 5px;
  color: #F2F2F2;
  background-color: #7DB54F;
  border-radius: 25px;
  text-align: center;
  display: inline-block;
}

/*Преимущества*/

.advantages {
  display: flex;
  width: 1200px;
  margin: 0 auto;

}

.advantages-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;

}

.advantages-item {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  height: 384px;


}

.advantages-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;

}

.advantages-picture {
  display: block;
}

.advantages-content {
  width: 230px;
  margin: 0 auto;
}

/*Цвета*/

.background-grey-soft {
  background-color: rgba(131, 179, 211, 0.12);
}

.background-grey-middle {
  background-color: rgba(131, 179, 211, 0.2);
  ;
}

.background-blue {
  background-color: #82B3D3;
  color: #ffffff;
}

/*Услуги*/

.services {
  display: flex;
}

.services-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
}

.services-item {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 384px;


}

.services-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase
}

.hotel-search {

  text-align: center;
  padding: 96px 304px;
}

.newsletter-main-subs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  background-image: url(../images/background-subscribe.jpg);
  background-size: cover;
  background-color: #756157;
  background-repeat: no-repeat;
  text-align: center;
  padding: 96px 258px 104px;
  color: #ffffff;
}

.newsletter-catalog-subs {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 96px 258px 104px;
}

.footer-container {
  display: flex;
  width: 1060px;
  align-items: center;
  padding: 40px 70px 30px;
  justify-content: space-between;
}

.footer-social-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.footer-social-item {
  padding: 13px 12px;
  list-style-type: none;
}

.social-link {
  text-decoration: none;
}

.phone-number {
  display: flex;
  justify-content: space-around;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  width: 331px;
  text-decoration: none;
  color: #000000;
}

/*Каталог*/


.inner-header-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
}

.breadcrumbs-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  gap: 10px;
  list-style-type: none;
}

.filter-content {
  background-image: url(../images/background-catalog.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  padding: 35px 70px 70px;
  margin-bottom: 50px;
}

.hotel-filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.ifrastructure-filter {
  border: 0 none;
  width: 151px;
  padding: 0;
  margin: 0;
}

.infrastructure-filter-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.ifrastructure-filter-item {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.type-of-housing-filter {
  border: 0 none;
  width: 151px;
  padding: 0;
  margin: 0;
}

.type-of-housing-filter-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.price {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 0 none;
  padding: 0;
  margin: 0;
}

.hotel-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin-bottom: 80px;
}

.hotel-card-title {
  color: #000000;

}

.hotel-card-link {
  text-decoration: none;
}

.catalog {
  width: 1060px;
  margin: 0 auto;
  padding: 0;
}

.catalog-filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.select-list {
  margin-left: auto;
}

.button-sort {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  width: 160px;
  gap: 8px;
  margin-left: 70px;
}

.button-card::after {
  content: url(../images/view-card.svg);
  padding: 16px 16px;
  border: 2px solid #000000;
  border-radius: 4px;
}

.button-slider::after {
  content: url(../images/view-slide.svg);
  padding: 16px 16px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.button-list::after {
  content: url(../images/view-list.svg);
  padding: 16px 16px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

/*Пагинация*/

.pagination-list {
  display: flex;
  list-style-type: none;
  gap: 8px;
  padding: 0;
  margin-top: 0;
  margin-bottom: 60px;

}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #82B3D3;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  width: 60px;
  height: 60px;
  border-radius: 4px;
  text-decoration: none;

}

.pagination-current {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F2F2F2;
  color: #000000;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  width: 60px;
  height: 60px;
  border-radius: 4px;
  text-decoration: none;

}

.pagination-more {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: #000000;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  width: 60px;
  height: 60px;
  border-radius: 4px;
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
